ADMIN_EMAIL=admin@vortile.com
ADMIN_PASSWORD=securepassword123
JWT_SECRET=supersecretjwtkey
DATABASE_URL=postgresql://user:password@localhost:5432/vortile
BETTER_AUTH_SECRET=betterauthsecret
BETTER_AUTH_URL=http://localhost:3000
